<footer data-theme="retro", class="p-20 text-xl bg-blue-500">
  <div class="flex-wrap justify-center text-headfoot">
    <p>Developed by yamashita</p>
    <%= link_to (t 'policy.privacy_policy'), privacy_path, class: "btn mr-5 text-headfoot"%>
    <%= link_to (t 'policy.terms_of_service'), service_path, class: "btn mr-5 text-headfoot"%>
  </div>
</footer>
