<h1>Welcome to Fitness Tracker!</h1>

<p>
  <strong>Start Tracking:</strong>
  <%= link_to 'Meals', meals_path %> |
  <%= link_to 'Exercises', exercises_path %> |
  <%= link_to 'Badges', badges_path %> |
  <%= link_to 'Dashboard', dashboard_path %>
</p>
