<div class="flex justify-between">
  <!-- 左側のテキストエリア -->
  <div class="w-1/2 p-4">
    <p class="text-2xl mt-4">このアプリでは、日々の食事や運動を記録し、</p>
    <p class="text-2xl mt-4">一日の摂取・消費カロリーを計測することができます。</p>
    <p class="text-2xl mt-4">摂取カロリーが消費カロリーより少なかった君はえらい！</p>
<p class="text-2xl mt-4 font-bold text-red-500">１．まずは右上の登録ボタンから登録しよう。</p>
<p class="text-2xl mt-4 font-bold text-red-500">２．次にプロフィールの項目を埋めてね。</p>
<p class="text-2xl mt-4 font-bold text-red-500">３．日々の食事や運動を記録しよう！</p>
    <p class="text-2xl mt-4">ゲストログインでお試しも可能です。（機能は制限されます）</p>
    <p class="text-2xl mt-4">みんなで一緒にスリムなボディを手に入れよう！</p>
  </div>

  <!-- 右側の画像エリア -->
  <div class="w-1/2 p-4 flex justify-center items-center">
    <%= image_tag('default-avatar.png', alt: 'Default Avatar', class: 'w-full h-auto') %>
  </div>
</div>
