<div class="flex justify-between">
  <!-- 左側のテキストエリア -->
  <div class="w-1/2 p-4">
    <p class="text-2xl mt-4">このアプリでは、日々の食事や運動を記録し、</p>
    <p class="text-2xl mt-4">一日の摂取・消費カロリーを計測することができます。</p>
    <p class="text-2xl mt-4">写真も記録・投稿できるので、日々の食事メモ代わりにもどうぞ！</p>
    <p class="text-2xl mt-4">摂取カロリーが消費カロリーより少なかった君はえらい！</p>
    <p class="text-2xl mt-4">食べすぎた日も正直に申告してね！</p>
    <p class="text-2xl mt-4">まずは登録の上身長や体重などプロフィール入力して下さい。</p>
    <p class="text-2xl mt-4">自動で基礎代謝を計算します。（体重など非公開も可能です）</p>
    <p class="text-2xl mt-4">ゲストログインで、お試しも可能です。（機能は制限されます）</p>
    <p class="text-2xl mt-4">みんなで一緒に痩せたボディを手に入れよう！</p>
    <p class="text-2xl mt-4">まずは右上のログインまたは登録ページへどうぞ。</p>
  </div>

  <!-- 右側の画像エリア -->
  <div class="w-1/2 p-4 flex justify-center items-center">
    <%= image_tag('default-avatar.png', alt: 'Default Avatar', class: 'w-full h-auto') %>
  </div>
</div>
