<% content_for(:title, t('.title')) %>
<div class="main_image items-center justify-center text-center">
  <h1 class="text-3xl py-10"><%= t '.title' %></h1>
  <section class="main_image items-center justify-center text-center">
    <div class="container mx-auto">
      <!-- 3列のFlexboxスタイルを追加 -->
      <div class="flex flex-wrap -mx-2 pb-16">
        <% if @posts.present? %>
          <% @posts.each do |post| %>
            <!-- 各投稿の幅を1/3に設定し、マージンを調整 -->
            <div class="w-1/3 px-2">
              <%= render post %>
            </div>
          <% end %>
        <% else %>
          <p class="text-2xl w-full text-center"><%= t('.no_result') %></p>
        <% end %>
      </div>
      <div class="flex justify-center text-center text-3xl pb-16">
        <%= link_to 'New Post', new_post_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
      </div>
    </div>
  </section>
</div>
